<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Brian's HTML Email Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body bgcolor="#696969" style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
          <tr>
            <td align="center" bgcolor="#292E68" style="padding: 0px 0 0px 0;">
              <img src="https://www.osai-web.com/images/DarkLogo.png" alt="OSAI Logo" width="480" height="240" style="display: block;" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table align="center" border="1" cellpadding="0" cellspacing="0" width="650">
          <tr>
            <td bgcolor="#000000" style="padding: 0px 0px 20px 0px;"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
          <tr>
            <td align="center" bgcolor="#292E68" style="padding: 40px 30px 40px 30px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td bgcolor="#292E68" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 24px;">
                    <b>{{ page.subject }}</b>
                  </td>
                </tr>
                <tr>
                  <td bgcolor="#292E68" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 16px;">
						{{ content }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table align="center" border="1" cellpadding="0" cellspacing="0" width="650">
          <tr>
            <td bgcolor="#000000" style="padding: 0px 0px 20px 0px;"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
          <tr>
            <td bgcolor="#292E68" style="padding: 30px 30px 30px 30px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                    Copyright &copy; 2020 Open-Source @ Illinois All Rights Reserved. <br />
                    <a href="mailto:lists@lists.illinois.edu?subject=unsubscribe%20open-sourceillinois
                    " style="color: #ffffff; display: inline-block;">
                      <font color="#ffffff">Unsubscribe</font> 
                    </a> from this newsletter
                  </td>
                  
                </tr>
              </table>
            </td>
            <td align="right" width="40%" bgcolor="#292E68" style="padding: 30px 30px 30px 30px;">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <a href="https://discord.gg/QE2w9vx">
                     <img src="https://www.osai-web.com/images/JoinDiscord.png" alt="" width="200" height="38" style="display:block; float: right;" border="0" />
                    </a>
                    </td>
                   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                  <td>
                    <a href="https://discord.gg/QE2w9vx">
                      <img src="https://www.osai-web.com/images/DiscordLogo.png" alt="Discord" width="38" height="38"
                        style="display: block;" border="0" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
